body {
    width: 70%;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}

footer {
    background-color: rgb(206, 225, 236);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

footer>ul {
    display:flex;
    align-items: center;
    margin: 10px;
    gap: 50px;
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    
   
}

.main-header {
    color: rgb(49, 132, 155);
}

.tile {
    height: 1px;
    width: 150px;
    background-color: rgb(206, 225, 236);
}