body {
    width: 70%;
    margin: 0 auto;
    height: 100vh;
}

section {
    width: 100%;
}

header {
    background-color: rgb(206, 225, 236);
}

header>ul {
    display:flex;
    margin: 10px;
    justify-content: space-between;
}

.main-header {
    color: rgb(49, 132, 155);
}

.tile {
    height: 1px;
    width: 150px;
    background-color: rgb(206, 225, 236);
}